.themeProvider {
  &.dark {
    // Header
    --head-font-color: white;

    // Login
    --log-background: #333232;
    // Login > Label
    --log-label-font-color: white;
    // Login > Input
    --log-input-background: #686464;
    --log-input-font-color: white;
    --log-input-placeholder-font-color: #333030;
  }
}